<%- include('header') %>

    <h1 class="header">Blog Website</h1>
    <section>
        <a href="/blog">All Blogs</a>

        <h1>Show Page</h1>

        <h4>Id : <%=foundBlog.id%></h4>
        <h4>Title : <%= foundBlog.title %> </h4>
        <h4><strong> Username :</strong><%=foundBlog.username%> </h4>
        <h4>Description : <%=foundBlog.blog  %></h4>
    </section>
</body>

</html>